* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  background-color: #122A57;
  padding: 0 1.25rem;
}

header ul li + li {
  margin-left: 1.25rem;
}

.heading {
  max-width: 992px;
  height: 4rem;
  display: flex;
  margin: 0 auto;
  color: white;
  align-items: center;
  justify-content: space-between;
  
}

.heading a {
  color: white;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.hero {
  display: flex;
  height: 34rem;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3rem;
  color: #122A57;
}

.hero button {
  width: 12rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  background-color: #122A57;
  text-align: center;
  color: white;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
}

.description {
  height: 28rem;
  display: flex;
  align-items: center;
}

.description img {
  min-width: 31.25rem;
}

#quem-somos {
  color: #122A57;
}

#quem-somos h2 {
  font-size: 2rem;
  display: flex;
  margin-bottom: 1.25rem;
}

#quem-somos h2::before {
  content: "";
  height: 3rem;
  width: 0.25rem;
  margin-right: 0.5rem;
  background-color: #122A57;
}

#quem-somos p + p {
  margin-top: 1.25rem;
}

.services {
  padding: 2.5rem 0;
  background-color: #122A57;
  color: white;
}

.services h2 {
  font-size: 2rem;
  padding: 0;
}

.services img {
  max-width: 10rem;
}

.services-list {
  margin-top: 3rem;
  justify-content: space-between;
}

.services-list li {
  text-align: center;
}

.services a {
  display: block;
  margin-top: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}